.bingo-won {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(50, 115, 115, 0.8);
  z-index: 9999;
  animation-name: won;
  animation-duration: 1s;
}

.bingo-won-title {
  color: var(--light-color);
  font-size: 1.8rem;
  word-break: break-all;
  margin-bottom: 0;
  padding: 2rem;
  line-height: 4rem;
}

@keyframes won {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bingo-won-title {
    font-size: 3.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bingo-won-title {
    font-size: 4rem;
  }
}
