.bingo-main {
  margin-top: 5rem;
  position: relative;
  height: 100%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .bingo-main {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bingo-main {
    margin-top: 2.5rem;
  }
}
